<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>123</key>
	<array>
		<string>1910 Rye Whisky</string>
	</array>
	<key>A</key>
	<array>
		<string>Absinthe</string>
		<string>Absolut Vodka</string>
		<string>Alcohol Inspired Refresher</string>
	</array>
	<key>B</key>
	<array>
		<string>Bacardi 151 Rum </string>
		<string>Bacardi Gold Rum </string>
		<string>Bacardi Light MojitoBacardi Light Mojito34.75</string>
		<string>Bacardi Light Pina ColadaBacardi Light Pina Colada25.88</string>
		<string>Bacardi Silver </string>
		<string>Bacardi Silver Mojito</string>
		<string>Bacardi Silver Peach</string>
		<string>Baily&apos;s Irish Cream</string>
		<string>Becherovka</string>
		<string>Beefeater Gin</string>
		<string>Bombay Sapphire Gin </string>
		<string>Bowman&apos;s Vodka</string>
		<string>Bushmills Irish Whiskey</string>
	</array>
	<key>C</key>
	<array>
		<string>Captain Morgan - Long Island Iced Tea</string>
		<string>Captain Morgan - Private Stock 40%</string>
		<string>Captain Morgan 100 Proof Rum</string>
		<string>Captain Morgan Black Spiced Rum</string>
		<string>Captain Morgan Original Spiced Rum </string>
		<string>Chambord Black Raspberry Liqueur </string>
		<string>Chambord Flavored Vodka </string>
		<string>Chivas Regal Premium Scotch Whisky</string>
		<string>Cointreau Triple Sec</string>
		<string>Cosmopolitan </string>
		<string>Courvoisier XO Cognac</string>
		<string>Cragganmore Scotch Whisky</string>
		<string>Creme de menthe</string>
		<string>Crown Royal - Special Reserve </string>
	</array>
	<key>D</key>
	<array>
		<string>Dalwhinnie Scotch Whisky</string>
		<string>Disaronno - Amaretto Di Saronno</string>
		<string>Don Julio Blanco Tequila</string>
	</array>
	<key>E</key>
	<array>
		<string>E  AND  J Brandy VSOP</string>
		<string>E AND J Brandy</string>
		<string>E AND J Cognac</string>
		<string>Everclear </string>
	</array>
	<key>F</key>
	<array>
		<string>Fireball Whisky</string>
		<string>Fuzzy Navel</string>
	</array>
	<key>G</key>
	<array>
		<string>Gin and Tonic</string>
		<string>Glenfiddich Scotch Whisky</string>
		<string>Godiva - Chocolate Cream Liqueur</string>
		<string>Goldschlager</string>
		<string>Gordons - Dry Gin</string>
		<string>Grahams 2007 Vintage Port</string>
		<string>Grand Marnier Orange Liqueur</string>
		<string>Grand Monarch</string>
		<string>Grey Goose Vodka </string>
	</array>
	<key>H</key>
	<array>
		<string>Hakutsuru Draft Sake</string>
		<string>Hakutsuru Premium Sake</string>
		<string>Hakutsuru Superior Sake</string>
		<string>Hendricks Gin</string>
		<string>Hpnotiq</string>
		<string>HRD Peach Schnapps</string>
		<string>HRD Root Beer Schnapps</string>
	</array>
	<key>I</key>
	<array/>
	<key>J</key>
	<array>
		<string>Jack and Coke </string>
		<string>Jack Daniels Whiskey </string>
		<string>Jager Bomb </string>
		<string>Jagermeister </string>
		<string>Jameson Irish Whiskey</string>
		<string>Jeremiah Weed Bourbon</string>
		<string>Jeremiah Weed Sweet Tea</string>
		<string>Jim Beam Kentuckty Straight Bourbon Whiskey</string>
		<string>Johnnie Walker - Red Label 43</string>
		<string>Jose Cuervo - Golden Margarita Pre mixed</string>
		<string>Jose Cuervo Especial (Gold) </string>
		<string>Jose Cuervo Especial (Silver) </string>
		<string>Jose Cuervo Light Margarita</string>
	</array>
	<key>K</key>
	<array>
		<string>Kahlua </string>
		<string>Kamikaze</string>
		<string>Ketel One Vodka </string>
		<string>Knob Creek Bourbon</string>
	</array>
	<key>L</key>
	<array>
		<string>Limoncello</string>
		<string>Long Island Iced Tea</string>
		<string>Lucid Absinthe Superieure</string>
	</array>
	<key>M</key>
	<array>
		<string>Makers Mark </string>
		<string>Malibu Rum </string>
		<string>Margarita</string>
		<string>Margarita </string>
		<string>Martini </string>
		<string>MARTINI  AND  ROSSI Extra Dry</string>
		<string>Midori</string>
		<string>Mike&apos;s &quot;The Classic Margarita&quot;13.86</string>
		<string>Monarch 151 Rum</string>
		<string>Monarch Brandy</string>
		<string>Monarch Citron Vodka</string>
		<string>Monarch Pineapple Rum</string>
		<string>Myers Frozen Pina Colada</string>
		<string>Myers Frozen Strawberry Daiquiri</string>
		<string>Myers Original Dark Rum</string>
	</array>
	<key>N</key>
	<array/>
	<key>O</key>
	<array>
		<string>Ozeki Sake (Regular Type)</string>
	</array>
	<key>P</key>
	<array>
		<string>Parrot Bay Caribbean Coconut Rum</string>
		<string>Pastis pure</string>
		<string>Patron Anejo Tequila </string>
		<string>Patron Gran Patron Burdeos Anejo</string>
		<string>Patron Silver Tequila </string>
		<string>Pendleton Whisky</string>
		<string>Pigs Eye P.B. High Gravity Ice Malt Liquour </string>
		<string>Pina Colada </string>
		<string>Pina Colada (blended)</string>
		<string>Popov Vodka 100 proof</string>
		<string>Popov Vodka 80 proof</string>
	</array>
	<key>Q</key>
	<array/>
	<key>R</key>
	<array>
		<string>Royal Gate Vodka 80 proofRoyal Gate Vodka 80 proof38.8</string>
		<string>Rum and Coke </string>
		<string>Rumple Minze - Peppermint</string>
	</array>
	<key>S</key>
	<array>
		<string>Sailor Jerry Spiced Navy Rum</string>
        <string>Sambuca Romana</string>
        <string>Screwdriver </string>
        <string>Seagrams 7 </string>
        <string>Sierra Nevada BigfootSierra Nevada Bigfoot31.68</string>
        <string>Sinfire Cinnamon Whisky</string>
        <string>Skinny Girl Margarita </string>
        <string>Skinnygirl Bare Naked Vodka</string>
        <string>Skinnygirl Cucumber Vodka</string>
        <string>Skinnygirl Island Coconut Vodka</string>
        <string>Skinnygirl Pina ColadaSkinnygirl Pina Colada26.47</string>
        <string>Skinnygirl Tangerine Vodka</string>
        <string>Skinnygirl White Peach Margarita</string>
        <string>Smirnoff Ice</string>
        <string>Smirnoff Sorbet Light Vodka (All Flavors) </string>
        <string>Smirnoff Twist of Green Apple Vodka</string>
        <string>Smirnoff Twist of Raspberry Vodka</string>
        <string>Smirnoff Vodka Blue Label 100 Proof </string>
        <string>Smirnoff Vodka Red Label 80 Proof </string>
        <string>Smirnoff Vodka Silver Label 90 Proof</string>
        <string>Southern Comfort (70 proof)</string>
        <string>Stirrings Triple Sec</string>
        <string>Stolichnaya Vodka</string>
        <string>Strawberry Daiquiri </string>
	</array>
	<key>T</key>
	<array>
		<string>Tanqueray London Dry Gin </string>
        <string>TGIF - On The Rocks Mudslide</string>
        <string>TGIF - On The Rocks White Russian </string>
        <string>Three Olives Naked Vodka</string>
        <string>Tuaca Liqueur</string>
	</array>
	<key>U</key>
	<array>
		<string>ULLR Nodic Libation</string>
	</array>
	<key>V</key>
	<array>
		<string>Vermouth - Martini Rosso Vermouth </string>
        <string>Vodka - Royal Gate (generic) 80 proof</string>
        <string>Vodka and Coke </string>
        <string>Vodka and Red Bull </string>
        <string>Vodka and Rockstar </string>
	</array>
	<key>W</key>
	<array>
		<string>White Russian </string>
        <string>Wild Turkey 101</string>
        <string>Wild Turkey 80</string>
	</array>
	<key>X</key>
	<array>
	</array>
	<key>Y</key>
	<array>
		<string>Yazi Ginger Vodka</string>
        <string>Yukon Jack</string>
	</array>
	<key>Z</key>
	<array>
		<string>Zima</string>
	</array>
</dict>
</plist>
